<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
    th:replace="~{layout/layout :: layout (~{::title}, ~{::section})}">
<head>
    <title>스프링 부트로 시작하는 웹서비스 - 메인페이지</title>
</head>
<body>
<section>
    <h1>스프링 부트로 시작하는 웹서비스 Ver.2 무중단 배포 테스트 입니다. ^^</h1>
    <div class="col-md-12">
        <!--로그인 기능 영역-->
        <div class="row">
            <div class="col-md-6">


                <span th:unless="${userName == null}">
                <a href="/posts/save" role="button"
                   class="btn btn-primary">글 등록</a>
                Logged in as : <span id="user" th:text="${userName}">유저이름</span>
                <a th:href="@{/logout}" class="btn btn-info active" role="button">Logout</a>
            </span>
                <span th:if="${userName == null}">
                <a th:href="@{/oauth2/authorization/google}" class="btn btn-success active" role="button">Google Login</a>
                <a th:href="@{/oauth2/authorization/naver}" class="btn btn-secondary active" role="button">Naver Login</a>
            </span>
            </div>
        </div>
    </div>
    <br>

    <!--목록 영역 출력-->
    <table class="table table-horizontal table-bordered">
        <thead class="thead-strong">
        <tr>
            <th>게시글 번호</th>
            <th>제목</th>
            <th>작성자</th>
            <th>최종 수정일</th>
        </tr>
        </thead>
        <tbody id="tbody">
        <tr th:each="post : ${posts}">
            <td th:text="${post.id}">post-id</td>
            <td> <a th:href="@{/posts/update/{id}(id=${post.id})}" th:text="${post.title}">post-title</a></td>
            <td th:text="${post.author}">post-author</td>
            <td th:text="${post.modifiedDate}"></td>
        </tr>
        </tbody>

    </table>
</section>
</body>
</html>